.logo {
    font-weight: bold;
    font-size: 27px;
}

.nav-bar-app {
    height: 60px;
}

.nav-bar {
    height: 60px;
    background-color: #253439;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: all 0.4s;
}

.nav-bar-scroll {
    background: white;
    color: black;
}

.email-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-label {
    padding: 10px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .nav-one {
        display: none;
    }
}